#title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#TreeView,  ul li{
    list-style-type: none;
    cursor: pointer;
}

#TreeView .open:before{
    Content:"\2295";
    margin-right: 5px;
   
    
}
#TreeView .open >ul{
    display:none;
    
}
#TreeView .close:before{
    Content:"\2296";
    margin-right: 5px;
    
}
#TreeView .open,#TreeView .close{
    cursor: pointer;
}
.bd{
   
    width:100%;
    height:auto;
    border: 1px solid rgb(38, 207, 15);
 
    
    
}
.bd span{
   
    margin: 5px;
   
    
    
}

.edit{
    margin-left: 10px;
    cursor: pointer;
  
}
.bd .add{
    margin-right: 5px;
    cursor: pointer;
    float: right;
}
input{
    width: 100%;
    border: 1px solid rgb(38, 207, 15);
}
.row{
    margin-top:15px;
}
#bd-dialog,#bd-dialog-edit{
    position: fixed;
    width: 100%;
    
    height:100%;
    top: 0;
    left: 0;
    visibility: hidden;
    
}

#dialog,#dialog-edit{
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 1px 1px 5px 3px #e4e3e3;
    border-radius: 15px;
    transform: translateY(200px);
    transition: .5s;
  
}
#dialog.animedialog,#dialog-edit.animedialog{
    
    transform: translateY(0px);
    
}

#dialog .title,#dialog-edit .title{
    margin-top:15px;
    margin-bottom:15px;
    
}
#dialog input,#dialog-edit input{
    border:none;
    border-bottom: 2px solid silver;
    outline:none;
    
}
#dialog-edit select {
    width: 100%;
    border:none;
    border-bottom: 2px solid silver;
    outline:none;
}
#dialog .list div,#dialog-edit .list div{
    width: 100%;
    height: 30px;
    border-bottom: 2px solid silver;
    cursor: pointer;
  
}
#dialog input:focus{
    
    border-bottom: 2px solid rgb(4, 245, 165);
}
#dialog-edit input:focus{
    
    border-bottom: 2px solid rgb(4, 245, 165);
}


#dialog img,#dialog-edit img{
    transform:rotate(45deg);
    cursor: pointer;
   
    float: right;
    margin-top: -35px;
}
#dialog button,#dialog-edit button{
    width:100%;
    height: 35px;
    margin-top:10px;
    border-radius: 5px;
    color: white;
}

#dialog #save,#dialog-edit #save{
    
    border :none;
    background-color: rgb(7, 209, 142);
}

#dialog #exit,#dialog-edit #exit{
    border :none;
    background-color: rgb(166, 167, 167);
}
#dialog-edit #delete{
    border :none;
    background-color: crimson;
}

.combobox{
    width:100%;
    height:0px;
    overflow-y: auto;
    visibility: hidden;
    background-color:aqua;
  
    transition:.5s;
}



