:root {
    --bg1 :#9b59b6;
    --br2 :#3498db;
    --text:#26ade4;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container form {
    float: left;
    position: absolute;
    top: 100px;
    padding: 0 20px;
    width: 350px;
    transition: 0.5s;
}
.container form h2 {
    color: white;
    margin-bottom: 30px;
}
.container form input {
    height: 35px;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    color: white;
}
.container form button {
    height: 35px;
    width: 120px;
    background: linear-gradient(rosybrown , rgb(180, 99, 99));
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.container form button a {
    color: black;
    text-decoration: none;
}

.form-two {
    left: 350px;
}
.form-three {
    left: 350px;
}
.form-buoc {
    display: flex;
    height: 40px;
    border-bottom: 2px solid #ccc;
    position: relative;
}
.form-buoc span {
    display: block;
    width: 100px;
    line-height: 40px;
    color: #ccc;
    font-weight: bold;
}
.line {
    position: absolute;
    width: 100px;
    height: 40px;
    background: linear-gradient(rosybrown , rgb(180, 99, 99));
    transition: 0,5s;
    opacity: 0.9;
}
.line::before {
    content: "";
        position: absolute;
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        border-right: 20px solid transparent;
        border-left: 20px solid rgb(180, 99, 99);
        right:-40px;
}
