<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Laptop</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
   
</head>
<body style="text-align:center;">
    <div class="container"  >
        <div class="row" style="margin-top:20%;margin-bottom:10px">
            <h1 style="color:blue;">Bạn sử dụng quyền nào ?</h1>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2 col-12">
                <a href="admin"><button style="width:120px;height:40px;background-color:red; border:1px solid silver;margin-top: 10px; color: white; font-size:17px">Admin</button></a>
            </div>
            <div class="col-md-2 col-12" >
                <a href="trangchu"><button style="width:120px;height:40px;background-color:green; border:1px solid silver;margin-top: 10px; color: white; font-size:17px">User</button></a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
</html>