
<!DOCTYPE html>

<head>
    <title>Shop Laptop</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main-style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/magnific-popup.cssver0.9.3.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/magnific-popup.cssver0.9.3.css') }}">
    <script type='text/javascript' src="{{ url_for('static',filename='js/jquery-1.7.2.min.jsver1.7.2.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap-5.1.0-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/donhang.css') }}">
    <script type='text/javascript' src="{{ url_for('static',filename='bootstrap-5.1.0-dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='js/jquery-1.9.1.min.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='js/jssor.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='js/jssor.slider.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <script type="text/javascript">
        // Init navigation menu
        jQuery(function() {
            // main navigation init
            jQuery('ul.sf-menu').superfish({
                delay: 1000, // the delay in milliseconds that the mouse can remain outside a sub-menu without it closing
                animation: {
                    opacity: "show",
                    height: "show"
                }, // used to animate the sub-menu open
                speed: "normal", // animation speed
                autoArrows: true, // generation of arrow mark-up (for submenu)
                disableHI: true // to disable hoverIntent detection
            });

            //Zoom fix
            //IPad/IPhone
            var viewportmeta = document.querySelector && document.querySelector('meta[name="viewport"]'),
                ua = navigator.userAgent,
                gestureStart = function() {
                    viewportmeta.content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6, initial-scale=1.0";
                },
                scaleFix = function() {
                    if (viewportmeta && /iPhone|iPad/.test(ua) && !/Opera Mini/.test(ua)) {
                        viewportmeta.content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
                        document.addEventListener("gesturestart", gestureStart, false);
                    }
                };
            scaleFix();
        })
    </script>
</head>

<body class="home">
    <div id="motopress-main" class="main-holder">
        <header class="motopress-wrapper header">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="header_top">
                            <div class="row">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="logo pull-left" id="logo">
                                    <a href="#" class=" logo_h__img">
                                        <img src="{{ url_for('static',filename='hinhanh/header/logo.png') }}" alt="provise" title="provise">
                                    </a>
                                    <p class="logo_tagline">Shop Điện tử</p>
                                </div>
                            </div>
                            <div class="col-md-3">

                                <nav class="nav nav__primary clearfix ">
                                    <ul id="topnav" class="sf-menu">
                                        <li id="menu-item-1807" class="menu-item current_page_item">
                                            <a href="/nhom">nhóm</a>
                                        </li>
                                        <li id="menu-item-1809" class="menu-item"><a href="/sanpham">sản phẩm</a></li>
                                        <li id="menu-item-1804" class="menu-item"><a href="/user">ngưởi dùng</a></li>
                                        <li id="menu-item-1810" class="menu-item">
                                            <a href="/donhang">đơn hàng</a>
                                        </li>
                                    </ul>

                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function changeClass() {
                    document.getElementById('topnav').classList.toggle('dlb');
                }
                window.onload = function() {
                    document.getElementById("logo").addEventListener('click', changeClass);
                }
            </script>
        </header>

        <section>

            <div class="container">
                <form>
                    <table class="tb_bd">
                        <tr>
                            <th>
                                time
                            </th>
                            <th>
                                ma don
                            </th>
                            <th>
                                trạng thái
                            </th>
                            <th>
                                tổng tiền
                            </th>
                            <th>
                                Mã Khách hàng
                            </th>
                            <th>
                                Tên Khách hàng
                            </th>
                        </tr>
                        <tr>
                            <td>
                                20/12/2020
                            </td>
                            <td>
                                <a href="/xemdonhang">12032</a>
                            </td>
                            <td>
                                chưa xác nhận
                            </td>
                            <td>
                                1.500.000d
                            </td>
                            <td>
                                1203234
                            </td>
                            <td>
                                nguyễn văn an
                            </td>
                        </tr>
                        <tr>
                            <td>
                                20/12/2020
                            </td>
                            <td>
                                <a href="/xemdonhang">12032</a>
                            </td>
                            <td>
                                chưa xác nhận
                            </td>
                            <td>
                                1.500.000d
                            </td>
                            <td>
                                1203234
                            </td>
                            <td>
                                nguyễn văn an
                            </td>
                        </tr>
                        <tr>
                            <td>
                                20/12/2020
                            </td>
                            <td>
                                <a href="/xemdonhang">12032</a>
                            </td>
                            <td>
                                chưa xác nhận
                            </td>
                            <td>
                                1.500.000d
                            </td>
                            <td>
                                1203234
                            </td>
                            <td>
                                nguyễn văn an
                            </td>
                        </tr>
                        <tr>
                            <td>
                                20/12/2020
                            </td>
                            <td>
                                <a href="/xemdonhang">12032</a>
                            </td>
                            <td>
                                chưa xác nhận
                            </td>
                            <td>
                                1.500.000d
                            </td>
                            <td>
                                1203234
                            </td>
                            <td>
                                nguyễn văn an
                            </td>
                        </tr>
                        <tr>
                            <td>
                                20/12/2020
                            </td>
                            <td>
                                <a href="/xemdonhang">12032</a>
                            </td>
                            <td>
                                chưa xác nhận
                            </td>
                            <td>
                                1.500.000d
                            </td>
                            <td>
                                1203234
                            </td>
                            <td>
                                nguyễn văn an
                            </td>
                        </tr>
                        <tr>
                            <td>
                                20/12/2020
                            </td>
                            <td>
                                <a href="/xemdonhang">12032</a>
                            </td>
                            <td>
                                chưa xác nhận
                            </td>
                            <td>
                                1.500.000d
                            </td>
                            <td>
                                1203234
                            </td>
                            <td>
                                nguyễn văn an
                            </td>
                        </tr>
                        <tr>
                            <td>
                                20/12/2020
                            </td>
                            <td>
                                <a href="/xemdonhang">12032</a>
                            </td>
                            <td>
                                chưa xác nhận
                            </td>
                            <td>
                                1.500.000d
                            </td>
                            <td>
                                1203234
                            </td>
                            <td>
                                nguyễn văn an
                            </td>
                        </tr>
                    </table>
                    
                </form>
            </div>

        </section>

        
    </div>
    <div id="back-top-wrapper" class="visible-desktop">
        <p id="back-top">
            <a href="#top"><span></span></a>
        </p>
    </div>
    <script type='text/javascript' src="{{ url_for('static',filename='js/superfish.jsver1.5.3.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='js/jquery.mobilemenu.jsver1.0.js') }}"></script>

</body>

</html>